@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

body, html, .block { 
  height: 100%;
  
  background: #222;
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #fff;
  line-height: 150%;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.centre {
  display: inline-block;
  vertical-align: middle;
}

@-webkit-keyframes move1 {
  0% { height: 16%; }
  25% { height: 66%; }
  75% { height: 50%; }
  100% { height: 16%; }
}

@-webkit-keyframes move2 {
  0% { height: 5%; }
  25% { height: 41%; }
  75% { height: 66%; }
  100% { height: 5%; }
}

@-webkit-keyframes move3 {
  0% { height: 25%; }
  25% { height: 5%; }
  75% { height: 66%; }
  100% { height: 25%; }
}

@-webkit-keyframes move4 {
  0% { height: 0; }
  25% { height: 33%; }
  75% { height: 75%; }
  100% { height: 0; }
}

@-webkit-keyframes move5 {
  0% { height: 41%; }
  25% { height: 16%; }
  75% { height: 75%; }
  100% { height: 41%; }
}

.bars { 
  height: 100px;
  width: 95px;
  margin: 0 auto;
}

.bars:before {
  content: '';
  position: absolute;
  width: 91px;
  height: 1px;
  margin-top: 100px;
  background: #222;
}

.bars li {
  display: inline-block;
  width: 15px;
  background: #fff;
  height: 5%;
  -webkit-animation-delay: 1s;
} 

.bars:hover > .bar1 {
  -webkit-animation: play1 1s ease forwards;
}

.bar1:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 0px;
  border-color: transparent transparent transparent #fff;
}

.bars:not(.active):hover > .bar1:after {
  -webkit-animation: playbtn 1s ease forwards;
}

.bars:hover > .bar2, .bars:hover > .bar3, .bars:hover > .bar4, .bars:hover > .bar5 {
  -webkit-animation: play2 1s ease forwards;
}

.active .bar1 {
  -webkit-animation: move1 infinite 1s linear;
}

.active .bar2 {
  -webkit-animation: move2 infinite 1.2s linear; 
}

.active .bar3 {
  -webkit-animation: move3 infinite .8s linear;
}

.active .bar4 {
  -webkit-animation: move4 infinite 1s linear;
}

.active .bar5 {
  -webkit-animation: move5 infinite .5s linear;
}

.hidden {
  height: 100px !important;
  width: 0 !important;
}

.active:hover > .bar1 {
  -webkit-animation: shift1 1s ease forwards;
}

.active:hover > .bar2, .active:hover > .bar3, .active:hover > .bar4, .active:hover > .bar5 {
  -webkit-animation: shift 1s ease forwards;
}

@-webkit-keyframes shift1 {
  0% { height: 50%; }
  50% { height: 100%; margin-left: -19px; }
  100% { height: 100%; margin-left: -19px; -webkit-transform: rotate(45deg); }
}

@-webkit-keyframes shift {
  0% { height: 50%; }
  50% { height: 100%; margin-left: -19px; }
  100% { height: 100%; margin-left: -19px; -webkit-transform: rotate(-45deg); }
}

@-webkit-keyframes play1 {
  0% { height: 50%; }
  100% { height: 100%; width: 0; }
}

@-webkit-keyframes playbtn {
  100% { 
    content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 50px;
  border-color: transparent transparent transparent #fff; }
}

@-webkit-keyframes play2 {
  100% { 
    opacity: 1;
    content: "";
    display: block !important;
    width: 0;
    border: solid 100px #fff;
    border-color: transparent #dfdfdf transparent transparent; 
  }
}

 